/* ================ START TITLE ================ */

.wrapperTitle {
	padding: 150px 0;
}

.wrapperTitle .wrapperContentTitle {
	display: flex;
	justify-content: space-around;
}

.wrapperTitle .wrapperContentTitle img {
	width: 400px;
}

.pTitle {
	margin: auto 0;
}

.pTitle p {
	width: 600px;

	margin: auto;
	padding: 50px 40px;

	background-color: rgba(255, 255, 255, 0.8);

	font-size: 18px;
	text-align: center;
	color: #000;

	border-radius: 20px;
}

.sectionTitle {
	background: url(/index/title/bg.png) top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* ================ END TITLE ================ */



/* ================ START VDK ================ */
.contentWrapperVDK {
	background-color: #FAE4FF;
}

.contentRowVDK {
	height: 100%;

	display: flex;
	justify-content: space-between;
}

.centerBlockVDK {
	margin: auto 0;

	max-height: 100%;
	height: 100%;


	text-align: center;
	
}



.centerBlockVDK span {
	color: #000;
	font-size: 18px;
}

.peripheryBlockVDK img {
	width: 570px;
}

/* ================ END VDK ================ */


